<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My finances</title>
</head>
<body>
<h1><a href="{% url 'main' %}">My finances</a></h1>
<nav>
    <a href="{% url 'main' %}">Главная</a>
    {% if user.is_anonymous %}
        <div style='text-align: right'>
            <a href="{% url 'registration' %}">Регистрация</a>
            <a href="{% url 'auth' %}">Вход</a>
        </div>
    {% else %}

    <p>
        <a href="{% url 'money_slots_add' %}">Создать money-слот</a>
        <a href="{% url 'tags' %}">Теги</a>
    </p>

    <div style='text-align: right'>
        {% if not user.is_anonymous %}
            Вы авторизованы как <b>{{ user.username }}</b>
        {% endif %}
        <a href="{% url 'logout' %}">Выход</a>
    </div>
    {% endif %}
</nav>

{% block content %}{% endblock %}

</body>
</html>