{% extends 'web/base.html' %}
{% block content %}

    <b>Добавить money слот</b>
    <form action="{% url 'money_slots_add' %}" method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>Сохранить</button>
    </form>

    <hr>
    <form action="">
        <b>Фильтры:</b><br>

        {% for field in filter_form %}
            {{ field }}
        {% endfor %}

        <button>Найти</button>
    </form>

    <ul>
        {% for moneyslot in moneyslots %}
        <li>
            <b>{{ moneyslot.title}}</b>
            - {{ moneyslot.amount_spent}} р

            <a href="{% url 'money_slots_edit' moneyslot.id %}">изменить</a>
            <a href="{% url 'money_slot_delete' moneyslot.id %}">удалить</a>
        </li>
        {% endfor %}
    </ul>

    всего {{ total_count }} записей | {{ moneyslots|length }} из них на этой странице
    <nav>
        {% if moneyslots.has_previous %}
            <a href="/?page=1">в начало</a>
            <a href="/?page={{ moneyslots.previous_page_number }}">предыдущая страница</a>
        {% endif %}

        страница {{ moneyslots.number }} из {{ moneyslots.paginator.num_pages }}

        {% if moneyslots.has_next %}
            <a href="/?page={{ moneyslots.next_page_number }}">следующая страница</a>
            <a href="/?page={{ moneyslots.paginator.num_pages }}">в конец</a>
        {% endif %}
    </nav>

{% endblock %}